backup/backup_18_07_2025_15H_17M_14S_statut_true_Vc3d666ae-b692-44a5-876f-a426353f85bd.json
{"createdAt":"2025-07-18T12:27:04.616Z","updatedAt":"2025-07-18T13:14:12.645Z","id":"1JSPLwo4MYUvfKvY","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-896,384],"id":"e50daac6-df5b-4c85-9917-6eabe1afb707","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Github_Id }}","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name.toSnakeCase() }}_{{ $today.format('dd_LL_yyyy') }}_{{ $now.format(\"HH'H_'mm'M_'ss'S'\")}}_statut_{{ $json.active }}_V{{ $json.versionId }}.json","fileContent":"={{ $json.toJsonString()}}","commitMessage":"=backup : auto commit du {{ $now.format('dd/MM/yyyy') }} a {{ $now.format(\"HH'H'mm\")}} "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[224,464],"id":"c58786f7-da54-4344-ae03-328151e0f8e8","name":"Create a file","webhookId":"4280f003-36b2-4ba9-acbf-8cb17ed2cc07","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-672,384],"id":"7282a185-299e-4ed4-80e8-9eba85618624","name":"Get many workflows","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,384],"id":"b8991048-e3ca-4544-967e-c873c724ded4","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,384],"id":"9134c19b-ab36-4748-bddc-cec5dfa9850b","name":"Wait","webhookId":"5d4c2e2f-23f3-464d-97af-2c3b63e26b9b"},{"parameters":{"assignments":{"assignments":[{"id":"d1612439-15f5-482d-9fb5-fdcd732625ea","name":"Github_Id","value":"yanix2445","type":"string"},{"id":"983af6cb-6cae-4261-a1e9-0563e1a350ba","name":"Gmail","value":"yanis.amine.harrat@gmail.com","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,384],"id":"39d3c9a1-cfb8-46c3-be70-de49eb97d24b","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[0,96],"id":"80555ec0-a979-4874-b846-0e26276f3ef1","name":"Limit"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.Gmail }}","subject":"=🚀 Backup Workflow - name: {{ $('Wait').item.json.name }} - {{ $now.format('dd/MM/yyyy') }} - {{ $now.format(\"HH'H 'mm'M 'ss'S'\")}}","message":"=<div style=\"margin:0; padding:0; font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif; background-color:#f8fafc; color:#1a202c;\">\n  <div style=\"max-width:650px; margin:40px auto; background-color:#fff; border-radius:20px; overflow:hidden; box-shadow:0 25px 80px rgba(12, 20, 38, 0.7); border:1px solid rgba(148, 163, 184, 0.2);\">\n    \n    <!-- Header Métallique Harmonieux -->\n    <div style=\"background: linear-gradient(135deg, #1e2a3a 0%, #2d3748 25%, #3182ce 50%, #2d3748 75%, #1a2332 100%); padding:40px 30px; text-align:center; color:#ffffff; position:relative; overflow:hidden;\">\n      <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 30% 20%, rgba(148, 163, 184, 0.1) 0%, transparent 50%), radial-gradient(circle at 70% 80%, rgba(49, 130, 206, 0.1) 0%, transparent 50%);\"></div>\n      <div style=\"position:relative; z-index:2;\">\n        <h1 style=\"margin:0; font-size:32px; font-weight:800; letter-spacing:-0.5px; background: linear-gradient(135deg, #cbd5e0 0%, #94a3b8 25%, #fbbf24 50%, #94a3b8 75%, #cbd5e0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));\">\n          🚀 BACKUP MISSION ACOMPLIE! 🚀\n        </h1>\n        <div style=\"margin-top:12px; font-size:18px; font-weight:500; color:#cbd5e0;\">\n          Tous tes workflows sont en sécurité dans la base ! 🛸\n        </div>\n        <div style=\"margin-top:8px; font-size:14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.2) 0%, rgba(49, 130, 206, 0.2) 100%); display:inline-block; padding:8px 18px; border-radius:25px; backdrop-filter:blur(15px); border:1px solid rgba(148, 163, 184, 0.3); color:#e2e8f0;\">\n          {{ $now.format('dd/MM/yyyy à HH:mm') }} ⚡\n        </div>\n      </div>\n    </div>\n\n    <!-- Corps Principal -->\n    <div style=\"padding:40px 30px;\">\n      <!-- Status Hero Cohérent -->\n      <div style=\"text-align:center; margin-bottom:35px;\">\n        <div style=\"background: linear-gradient(135deg, #2d3748 0%, #4a5568 25%, #3182ce 50%, #4a5568 75%, #2d3748 100%); border-radius:18px; padding:28px; margin-bottom:20px; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.25); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.1);\">\n          <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 50% 50%, rgba(148, 163, 184, 0.05) 0%, transparent 70%);\"></div>\n          <div style=\"position:relative; z-index:2;\">\n            <div style=\"font-size:24px; color:#e2e8f0; margin-bottom:8px; font-weight:700; text-shadow:0 2px 8px rgba(0,0,0,0.3);\">\n              ✨ BACKUP LÉGENDAIRE RÉUSSI ! ✨\n            </div>\n            <div style=\"font-size:16px; color:#cbd5e0; font-weight:500;\">\n              {{ $(\"Get many workflows\").all().length }} workflows capturés dans la matrice digitale 🌐\n            </div>\n          </div>\n        </div>\n        \n        <div style=\"font-size:16px; color:#718096; font-weight:500;\">\n          Tes automatisations dorment paisiblement dans le cloud ☁️✨\n        </div>\n      </div>\n\n      <!-- Actions Cohérentes -->\n      <div style=\"text-align:center; margin-bottom:30px;\">\n        <div style=\"font-size:20px; color:#3182ce; margin-bottom:20px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.4);\">\n          🎮 ACCÈS RAPIDE À TES DONNÉES 🎮\n        </div>\n        \n        <a href=\"{{ $vars.github_url }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #2d3748 0%, #4a5568 50%, #2d3748 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(45, 55, 72, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.1); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.2);\">\n          <span style=\"position:relative; z-index:2;\">🐙 GITHUB VAULT</span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(148, 163, 184, 0.15), transparent); transition:left 0.6s;\"></div>\n        </a>\n        \n        <a href=\"{{ $vars.airtable_url }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #3182ce 0%, #4299e1 50%, #3182ce 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(49, 130, 206, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.15); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(251, 191, 36, 0.3);\">\n          <span style=\"position:relative; z-index:2;\">📊 CONTROL CENTER</span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(251, 191, 36, 0.2), transparent); transition:left 0.6s;\"></div>\n        </a>\n      </div>\n\n      <!-- Stats Harmonieuses -->\n      <div style=\"background: linear-gradient(135deg, rgba(45, 55, 72, 0.15) 0%, rgba(74, 85, 104, 0.1) 50%, rgba(49, 130, 206, 0.05) 100%); border-radius:16px; padding:22px; text-align:center; border:1px solid rgba(251, 191, 36, 0.25); backdrop-filter:blur(10px); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.08);\">\n        <div style=\"font-size:18px; color:#3182ce; margin-bottom:8px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.3);\">\n          🏆 NIVEAU BACKUP: EXPERT 🏆\n        </div>\n        <div style=\"font-size:14px; color:#718096; font-weight:500;\">\n          Mission accomplie avec style ! Tes workflows sont blindés 🛡️\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer Cohérent -->\n    <div style=\"background: linear-gradient(135deg, #1a2332 0%, #2d3748 25%, #1e2a3a 50%, #2d3748 75%, #1a2332 100%); padding:28px; text-align:center; position:relative; border-top:1px solid rgba(251, 191, 36, 0.2);\">\n      <div style=\"position:absolute; top:0; left:0; right:0; height:2px; background:linear-gradient(90deg, transparent 0%, rgba(251, 191, 36, 0.4) 25%, rgba(251, 191, 36, 0.8) 50%, rgba(251, 191, 36, 0.4) 75%, transparent 100%);\"></div>\n      <div style=\"font-size:14px; color:#cbd5e0; margin-bottom:8px; font-weight:500;\">\n        🤖 SYSTÈME DE BACKUP AUTOMATIQUE n8n 🤖\n      </div>\n      <div style=\"font-size:12px; color:#a0aec0;\">\n        Powered by the Matrix • {{ $now.format('dd/MM/yyyy HH:mm') }} • Stay Digital ⚡\n      </div>\n      <div style=\"margin-top:15px;\">\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.15) 0%, rgba(148, 163, 184, 0.1) 100%); color:#cbd5e0; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(148, 163, 184, 0.2); backdrop-filter:blur(5px);\">GitHub</span>\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(251, 191, 36, 0.15) 0%, rgba(251, 191, 36, 0.1) 100%); color:#fbbf24; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(251, 191, 36, 0.3); backdrop-filter:blur(5px);\">Airtable</span>\n      </div>\n    </div>\n  </div>\n</div>","options":{"appendAttribution":false,"senderName":"YANIS  HARRAT"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,192],"id":"849f07d4-a018-4bdb-af42-14df7d2e24c3","name":"Send a message","webhookId":"49bdabb9-0c19-4e02-85d4-f7a650c6dc79","credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"chatId":"6932795396","text":"=🚀  *Backup Workflow n8n - {{ $('Edit Fields').item.json.name }} - {{ $now.format('dd/MM/yyyy') }}*\n\n*Workflow* : `{{ $('Get many workflows').item.json.name }}`\n*ID* : `{{ $('Get many workflows').item.json.id }}`\n*Date* : `{{DateTime.fromISO($json.createdAt).toFormat('dd/MM/yyyy')}}`\n*Version* : `{{ $('Get many workflows').item.json.versionId }}`\n\n\n*📦 Emplacements de Stockage :*\n• [📊 Airtable — Base: n8n Workflow Backup • Table: Workflows](https://airtable.com/appMUIQdL0A8aWR0S)\n• [🐙 GitHub — Repository: yanix2445/Backup-n8n](https://github.com/yanix2445/Backup-n8n)\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"e527faa4-ef65-4db6-b12c-31862f7a54de","name":"Send a text message","webhookId":"8d7223ee-44e2-49ea-ba69-fa109bcc9f1a","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3d666ae-b692-44a5-876f-a426353f85bd","triggerCount":1,"tags":[],"Github_Id":"yanix2445","Gmail":"yanis.amine.harrat@gmail.com","Repo GitHub":"https://github.com/yanix2445/n8n/tree/main","DB Airtable":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide"}