backup/importe_backup_21_07_2025_02H_02M_58S_statut_false_Vc5bfd1d6-5923-4784-b3ed-f0ae174c3e4e.json
{"createdAt":"2025-07-18T10:24:17.872Z","updatedAt":"2025-07-20T00:53:00.300Z","id":"s9bPgzZZ3ySMzKUd","name":"importe backup","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"create","workflowObject":"={{ $json.data.toJsonString()}}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[512,688],"id":"c107242d-4f6c-4d5d-a129-8fd8536f2777","name":"Create a workflow","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"yanix2445","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[64,688],"id":"f1e26eb1-04b7-42aa-8f9f-1f3d04b7dcb2","name":"Get a file","webhookId":"b7b739a5-358c-49e6-b3f8-e3837b8f1399","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[288,688],"id":"60ebb46c-6c04-47d6-89b6-e6a3bfcc4422","name":"Extract from File"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-608,784],"id":"6a8b099c-2644-485f-b70b-ff85c187be12","name":"Telegram Trigger","webhookId":"f0524004-9a20-4b43-86f2-aba05e4d11ea","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e4e0717-8576-4a0d-93de-17e4fb0f77fe","leftValue":"={{ $json.message.text }}","rightValue":"backup n8n","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,784],"id":"99d7c786-fa71-40ba-8441-9e34d4062402","name":"If"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"yanix2445","mode":"list","cachedResultName":"yanix2445","cachedResultUrl":"https://github.com/yanix2445"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"backup"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-160,688],"id":"2ccdc738-2fa5-402e-81df-622896aae2cb","name":"List files","webhookId":"18229b9d-e4ec-44dd-a4f2-9994751f4c0a","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-160,880],"id":"cfa38b73-a627-498f-9ee2-fa18befa7456","name":"No Operation, do nothing","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false}],"connections":{"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"List files","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"List files":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Create a workflow":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5bfd1d6-5923-4784-b3ed-f0ae174c3e4e","triggerCount":1,"tags":[],"Github_Id":"yanix2445","Gmail":"yanis.amine.harrat@gmail.com","Repo GitHub":"https://github.com/yanix2445/n8n/tree/main","DB Airtable":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide"}