backup/my_workflow_18_07_2025_14H_33M_53S_statut_false_Vdad2bc14-b7fc-4c36-b954-6e3cf68742f4.json
{"createdAt":"2025-07-18T12:27:04.616Z","updatedAt":"2025-07-18T12:33:29.094Z","id":"1JSPLwo4MYUvfKvY","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-896,384],"id":"e50daac6-df5b-4c85-9917-6eabe1afb707","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Github_Id }}","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name.toSnakeCase() }}_{{ $today.format('dd_LL_yyyy') }}_{{ $now.format(\"HH'H_'mm'M_'ss'S'\")}}_statut_{{ $json.active }}_V{{ $json.versionId }}.json","fileContent":"={{ $json.toJsonString()}}","commitMessage":"=backup : auto commit du {{ $now.format('dd/MM/yyyy') }} a {{ $now.format(\"HH'H'mm\")}} "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[224,456],"id":"c58786f7-da54-4344-ae03-328151e0f8e8","name":"Create a file","webhookId":"4280f003-36b2-4ba9-acbf-8cb17ed2cc07","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-672,384],"id":"7282a185-299e-4ed4-80e8-9eba85618624","name":"Get many workflows","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,384],"id":"b8991048-e3ca-4544-967e-c873c724ded4","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,384],"id":"9134c19b-ab36-4748-bddc-cec5dfa9850b","name":"Wait","webhookId":"5d4c2e2f-23f3-464d-97af-2c3b63e26b9b"},{"parameters":{"assignments":{"assignments":[{"id":"d1612439-15f5-482d-9fb5-fdcd732625ea","name":"Github_Id","value":"yanix2445","type":"string"},{"id":"983af6cb-6cae-4261-a1e9-0563e1a350ba","name":"Gmail","value":"yanis.amine.harrat@gmail.com","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,384],"id":"39d3c9a1-cfb8-46c3-be70-de49eb97d24b","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[0,96],"id":"80555ec0-a979-4874-b846-0e26276f3ef1","name":"Limit"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.Gmail }}","subject":"=🚀 Backup Workflow n8n - name: {{ $json.name }} - {{ $now.format('dd/MM/yyyy') }} - {{ $now.format(\"HH'H 'mm'M 'ss'S'\")}}","message":"=<div style=\"margin:0; padding:0; font-family:'Segoe UI',Arial,sans-serif; background-color:#fdfcf9; color:#1e293b;  ;\">\n  <div style=\"max-width:650px; margin:40px auto; background-color:#fff; border-radius:16px; overflow:hidden; box-shadow:0 12px 32px rgba(0,0,0,0.06); border:1px solid #e2e8f0;\">\n    <!-- Header -->\n    <div style=\"background:linear-gradient(135deg,#0f172a,#1e3a8a); padding:40px 30px; text-align:center; color:#ffffff;\">\n      <h1 style=\"margin:0; font-size:28px; letter-spacing:1px; text-shadow:1px 1px 0 #1e293b;  color: #ffffff;\">\n        🚀 Backup Workflow n8n - {{ $json.name }} - {{ $now.format('dd/MM/yyyy') }}\n      </h1>\n    </div>\n    <!-- Bloc principal -->\n    <div style=\"padding:35px 30px;\">\n      <h2 style=\"color:#1e3a8a; font-size:22px; margin-top:0; margin-bottom:10px;\">Détails du backup</h2>\n      <div style=\"background:#f3f4f6; border-radius:12px; padding:18px 20px; margin-bottom:24px; text-align:center;\">\n        <div style=\"font-size:18px; font-weight:bold; color:#1e293b;\">{{ $json.name }}</div>\n        <div style=\"color:#64748b; font-size:15px; margin-bottom:6px;\">ID : {{ $json.id }}</div>\n        <div style=\"color:#64748b; font-size:15px;\">\n          Créé le <span style=\"color:#1e3a8a; font-weight:bold;\">{{ DateTime.fromISO($json.createdAt).toFormat('dd/MM/yyyy') }}</span>\n          &nbsp;|&nbsp; Version <span style=\"color:#1e3a8a; font-weight:bold;\">{{ $json.versionId || 'v1.0' }}</span>\n        </div>\n      </div>\n      <!-- Stats -->\n      <div style=\"display:flex; justify-content:center; gap:16px; margin-bottom:24px;\">\n        <div style=\"background:#e0e7ff; border-radius:12px; padding:16px 24px; min-width:90px; text-align:center;\">\n          <div style=\"color:#1e3a8a; font-size:15px;\">Nodes</div>\n          <div style=\"font-size:22px; font-weight:bold;\">{{ $json.nodes.length }}</div>\n        </div>\n        <div style=\"background:#d1fae5; border-radius:12px; padding:16px 24px; min-width:90px; text-align:center;\">\n          <div style=\"color:#047857; font-size:15px;\">Connexions</div>\n          <div style=\"font-size:22px; font-weight:bold;\">{{ Object.keys($json.connections).length }}</div>\n        </div>\n        <div style=\"background:#fef9c3; border-radius:12px; padding:16px 24px; min-width:90px; text-align:center;\">\n          <div style=\"color:#b45309; font-size:15px;\">Tags</div>\n          <div style=\"font-size:22px; font-weight:bold;\">{{ $json.tags ? $json.tags.length : 0 }}</div>\n        </div>\n      </div>\n      <!-- Stockage -->\n      <div style=\"background:#fef9c3; border-radius:12px; padding:16px 20px; margin-bottom:28px;\">\n        <div style=\"font-size:15px; color:#b45309; font-weight:bold; margin-bottom:6px;\">📦 Emplacements de Stockage</div>\n        <div style=\"color:#64748b; font-size:14px; margin-bottom:4px;\">📊 Airtable — Base: n8n Workflow Backup • Table: Workflows</div>\n        <div style=\"color:#64748b; font-size:14px;\">🐙 GitHub — Repository: yanix2445/Backup-n8n</div>\n      </div>\n      <!-- Actions -->\n      <div style=\"text-align:center; margin:32px 0;\">\n        <a href=\"https://airtable.com/appMUIQdL0A8aWR0S\"\n          style=\"display:inline-block; margin:0 8px; padding:14px 32px; background-color:#e6cfa7; color:#0f172a; font-weight:bold; text-decoration:none; border-radius:8px; font-size:15px;\">\n          Voir dans Airtable\n        </a>\n        <a href=\"https://github.com/yanix2445/Backup-n8n\"\n          style=\"display:inline-block; margin:0 8px; padding:14px 32px; background-color:#1e3a8a; color:#fff; font-weight:bold; text-decoration:none; border-radius:8px; font-size:15px;\">\n          Voir sur GitHub\n        </a>\n      </div>\n      <div style=\"text-align:center; margin-top:40px;\">\n        <p style=\"font-size:15px; line-height:1.6; margin-bottom:10px; color:#64748b;\">\n          Une question ou besoin d’aide ?<br />Réponds à cet email, on est là pour toi.\n        </p>\n      </div>\n    </div>\n    <!-- Footer -->\n    <div style=\"background-color:#f3f4f6; padding:20px 30px; text-align:center; font-size:14px; color:#475569;\">\n      <p style=\"margin:1rem;\">Email automatique généré par n8n</p>\n      <p style=\"margin:1rem;\">&copy; 2025 – Tous droits réservés</p>\n      \n      <div style=\"margin-top:1rem;\">\n        <a href=\"#\" style=\"color:#1e3a8a; text-decoration:none; margin-right:14px;\">Documentation</a>\n        <a href=\"#\" style=\"color:#1e3a8a; text-decoration:none; margin-right:14px;\">Support</a>\n        <a href=\"#\" style=\"color:#1e3a8a; text-decoration:none;\">Paramètres</a>\n      </div>\n    </div>\n  </div>\n</div>\n","options":{"appendAttribution":false,"senderName":"YANIS  HARRAT"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,192],"id":"849f07d4-a018-4bdb-af42-14df7d2e24c3","name":"Send a message","webhookId":"49bdabb9-0c19-4e02-85d4-f7a650c6dc79","disabled":true},{"parameters":{"chatId":"6932795396","text":"=🚀  *Backup Workflow n8n - {{ $json.name }} - {{ $now.format('dd/MM/yyyy') }}*\n\n*Workflow* : `{{ $('Get many workflows').item.json.name }}`\n*ID* : `{{ $('Get many workflows').item.json.id }}`\n*Date* : `{{DateTime.fromISO($json.createdAt).toFormat('dd/MM/yyyy')}}`\n*Version* : `{{ $('Get many workflows').item.json.versionId }}`\n\n*Statistiques :*\n🟦 *Nodes* : `{{$json.nodes.length}}` 🟩 *Connexions* : `{{Object.keys($json.connections).length}}` 🏷️ *Tags* : `{{$json.tags ? $json.tags.length : 0}}`\n\n\n*📦 Emplacements de Stockage :*\n• [📊 Airtable — Base: n8n Workflow Backup • Table: Workflows](https://airtable.com/appMUIQdL0A8aWR0S)\n• [🐙 GitHub — Repository: yanix2445/Backup-n8n](https://github.com/yanix2445/Backup-n8n)\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"e527faa4-ef65-4db6-b12c-31862f7a54de","name":"Send a text message","webhookId":"8d7223ee-44e2-49ea-ba69-fa109bcc9f1a","disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dad2bc14-b7fc-4c36-b954-6e3cf68742f4","triggerCount":0,"tags":[],"Github_Id":"yanix2445","Gmail":"yanis.amine.harrat@gmail.com"}