backup/prospect_leads_alternance_bts_sio/prospect_leads_alternance_bts_sio_26_07_2025_03H_17M_16S_statut_false_V9cf4da92-6640-48b6-97b6-9d83a2656dbe.json
{"createdAt":"2025-07-24T04:51:27.934Z","updatedAt":"2025-07-25T07:05:06.274Z","id":"2VfoXs1HaVKW9Ss0","name":"Prospect Leads Alternance BTS SIO","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"draft","subject":"=Alternance BTS SIO SISR – Collaboration avec {{ $json.company }}\n","emailType":"html","message":"=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Candidature Alternance BTS SIO SISR – {{ $json.company }}</title>\n  <style>\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      margin: 0;\n      padding: 24px;\n      background: #f0f2f5;\n    }\n    .container {\n      max-width: 620px;\n      margin: auto;\n      background: #fff;\n      border-radius: 10px;\n      padding: 28px;\n      box-shadow: 0 0 12px rgba(0,0,0,0.05);\n    }\n    h1 {\n      color: #0073e6;\n      margin: 0 0 12px;\n      font-size: 22px;\n    }\n    .section {\n      margin-top: 24px;\n    }\n    ul {\n      padding-left: 20px;\n    }\n    li {\n      margin-bottom: 6px;\n    }\n    .tag {\n      background: #e3f2fd;\n      color: #0d47a1;\n      border-radius: 4px;\n      padding: 2px 6px;\n    }\n    .footer {\n      font-size: 14px;\n      color: #6c757d;\n      margin-top: 30px;\n      border-top: 1px solid #e0e0e0;\n      padding-top: 16px;\n    }\n    @media (max-width: 500px) {\n      body { padding: 12px; }\n      .container { padding: 20px; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <p>Bonjour <strong>{{ $json.first_name }} {{ $json.last_name }}</strong>,</p>\n\n    <p>\n      Je vous contacte dans le cadre de ma recherche d'alternance pour ma <strong>1<sup>ʳᵉ</sup> année de BTS SIO SISR</strong>. Même si je débute officiellement dans le cursus, je suis déjà actif sur des projets concrets, que je construis en parallèle de ma formation pour progresser plus vite.\n    </p>\n\n    <div class=\"section\">\n      <strong>🚀 Pourquoi vous ?</strong><br>\n      Votre poste de <em>{{ $json.position }}</em> chez <strong>{{ $json.company }}</strong>, dans un secteur aussi exigeant que <strong>{{ $json.company_industry }}</strong>, implique des responsabilités IT importantes. Je suis conscient de mon niveau, mais prêt à apprendre, m’adapter rapidement, et m’investir pleinement pour vous accompagner.\n    </div>\n\n    <div class=\"section\">\n      <strong>🧩 Mon profil, en toute transparence</strong>\n      <ul>\n        <li><strong>Profil junior mais actif :</strong> bases en réseau, Linux, API, développement fullstack, acquises en autodidacte et via l’École 42 / ETNA</li>\n        <li><strong>Projet réel :</strong> CRM no-code / low-code pour l’IUT de Meaux (n8n, Airtable, API, agent IA Slack)</li>\n        <li><strong>Projets personnels en cours :</strong> <em>Invoxia HubAPI</em> & <em>ToolboxDev</em> — deux outils que je prototype actuellement pour apprendre, tester, et aller plus loin techniquement</li>\n        <li><strong>Expérience terrain :</strong> technicien fibre optique (Free) + management de rang en restauration – coordination, rigueur, gestion du stress</li>\n        <li><strong>Soft skills :</strong> autonomie, adaptabilité, pédagogie, esprit d’équipe (8 ans de volley, dont 3 en N2)</li>\n        <li><strong>Capacité à apprendre :</strong> je progresse chaque semaine, je structure mon travail, je suis capable d’itérer vite</li>\n      </ul>\n    </div>\n\n    <div class=\"section\">\n      <strong>📅 Modalités</strong>\n      <ul>\n        <li>Rythme : 2 jours école / 3 jours entreprise</li>\n        <li>Période : septembre 2025 → août 2027</li>\n        <li>Zone : Île-de-France – présentiel ou télétravail</li>\n      </ul>\n    </div>\n\n    <div class=\"section\">\n      Je n’ai pas encore tout le bagage technique, mais j’ai l’état d’esprit qu’il faut : apprendre vite, m’adapter, livrer, et faire avancer les projets. Si vous avez une mission à me confier, je suis prêt à me dépasser pour la mener à bien.\n    </div>\n\n    <p>Merci pour votre attention – au plaisir d’échanger.</p>\n\n    <div class=\"footer\">\n      Cordialement,<br>\n      Yanis Harrat • 06.03.05.98.29 • yanis.amine.harrat@gmail.com<br>\n      LinkedIn : <a href=\"https://www.linkedin.com/in/yanis-harrat/\">Yanis HARRAT</a><br>\n      <em>P.S. : Mon CV est joint. Si un alternant fiable, motivé et impliqué peut soulager votre équipe, je suis prêt à m’engager dès maintenant.</em>\n    </div>\n  </div>\n</body>\n</html>","options":{"sendTo":"={{ $json.email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[672,304],"id":"112670e5-d6fa-413d-a7ec-7dbe38e47f8c","name":"Create a draft","webhookId":"f89b7a02-d51c-431b-b8aa-1e3d08c326a1","credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"chatId":"6932795396","text":"=🔥 *{{ $json.total }} Nouveaux prospects détectés !*  \nOn doit les valider rapidement et lancer les envois 📩\n\n`{{ $json.message }}`\n\n🧠 *Étape 1 :* Vérif des infos (nom, poste, mail, entreprise) \n\n📬 *Étape 2 :* Envoi des mails auto via n8n  \n\nPrêt à shoot ? 🚀\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1568,304],"id":"239db9b9-cf41-4db9-8ffd-3f802fb80edc","name":"Send a text message","webhookId":"6c23354f-7292-4996-ab97-9f1775812cbb","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,304],"id":"db3d28a8-e13d-4405-a893-bc7c3c73d560","name":"Schedule Trigger"},{"parameters":{"url":"https://api.hunter.io/v2/leads?api_key=2e73d1e424046742f3b489db2a9e4ef696f56b25","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,304],"id":"e7368735-8be7-4ad0-8477-17cb712cf6c4","name":"HTTP Request Hunter.io"},{"parameters":{"jsCode":"// Mode \"Run once for all items\"\nconst leads = $input.first().json.data.leads;   // tableau de leads\nreturn leads.map(lead => ({ json: lead }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,304],"id":"1eaa10e7-10f6-486c-99dc-bd2ffbf1e5e7","name":"parser"},{"parameters":{"jsCode":"// Récupère tous les éléments du nœud précédent (ex. : \"Get new leads\")\nconst items = $items('parser');\n\n// Formate chaque ligne avec nom, prénom et email\nconst lines = items.map(i =>\n  `© ${i.json.first_name} ${i.json.last_name} → ${i.json.position} → ${i.json.company} → ${i.json.email}`\n);\n\n// Renvoie un objet unique contenant le message à afficher/envoyer\nreturn [{\n  json: {\n    message: lines.join('\\n\\n'),\n    total:$('HTTP Request Hunter.io').first().json.meta.total\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,304],"id":"8fd896e5-94aa-4252-948a-1e0a76067a83","name":"Code"},{"parameters":{"resource":"draft","operation":"get","messageId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[896,304],"id":"8cd5be7c-378e-4eec-b4c2-ee20fffd381e","name":"Get a draft","webhookId":"948d4e40-714b-4562-92d3-bcc026579fe2","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"create","base":{"__rl":true,"value":"appHIbhYUPPaya3qZ","mode":"list","cachedResultName":"Recherche Alternance ","cachedResultUrl":"https://airtable.com/appHIbhYUPPaya3qZ"},"table":{"__rl":true,"value":"tbly8cbzJzPGx11fV","mode":"list","cachedResultName":"prise de contact","cachedResultUrl":"https://airtable.com/appHIbhYUPPaya3qZ/tbly8cbzJzPGx11fV"},"columns":{"mappingMode":"defineBelow","value":{"Statut de la prise de contact":"En attente de réponse","email":"={{ $('parser').item.json.email }}","Nom Prenom":"={{ $('parser').item.json.first_name }} {{ $('parser').item.json.last_name }}","Type de contact":"Mail","Entreprise cible":"={{ $('parser').item.json.company }}","Moyen de contact":"Email","message envoyer ":"={{ $json.text }}"},"matchingColumns":[],"schema":[{"id":"Nom Prenom","displayName":"Nom Prenom","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PDP","displayName":"PDP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Type de contact","displayName":"Type de contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"RH interne","value":"RH interne"},{"name":"Recruteur externe","value":"Recruteur externe"},{"name":"Contact réseau professionnel","value":"Contact réseau professionnel"},{"name":"Autre","value":"Autre"},{"name":"Mail","value":"Mail"}],"readOnly":false,"removed":false},{"id":"Entreprise cible","displayName":"Entreprise cible","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Moyen de contact","displayName":"Moyen de contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Email","value":"Email"},{"name":"Téléphone","value":"Téléphone"},{"name":"LinkedIn","value":"LinkedIn"},{"name":"Autre réseau","value":"Autre réseau"},{"name":"En personne","value":"En personne"}],"readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tel","displayName":"tel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Date de prise de contact","displayName":"Date de prise de contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Statut de la prise de contact","displayName":"Statut de la prise de contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"En attente de réponse","value":"En attente de réponse"},{"name":"Réponse reçue","value":"Réponse reçue"},{"name":"Rendez-vous fixé","value":"Rendez-vous fixé"},{"name":"Pas de suite","value":"Pas de suite"}],"readOnly":false,"removed":false},{"id":"statut conv","displayName":"statut conv","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"À relancer","value":"À relancer"},{"name":"Clôturé","value":"Clôturé"},{"name":"discusion encours ","value":"discusion encours "},{"name":"favorable","value":"favorable"}],"readOnly":false,"removed":true},{"id":"message envoyer ","displayName":"message envoyer ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resumer conv","displayName":"resumer conv","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Lien offre existante (relier à 'offre')","displayName":"Lien offre existante (relier à 'offre')","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,304],"id":"69eef999-796d-49f4-88b8-3aba8d81f19b","name":"Create a record","credentials":{"airtableOAuth2Api":{"id":"UaWoxphA76MwftaC","name":"Airtable Personal Access Token account"}}}],"connections":{"Create a draft":{"main":[[{"node":"Get a draft","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request Hunter.io","type":"main","index":0}]]},"HTTP Request Hunter.io":{"main":[[{"node":"parser","type":"main","index":0}]]},"parser":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get a draft":{"main":[[{"node":"Create a record","type":"main","index":0}],[]]},"Create a record":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9cf4da92-6640-48b6-97b6-9d83a2656dbe","triggerCount":0,"tags":[],"Github_Id":"yanix2445","Version":"0"}