backup/backup/backup_23_07_2025_07H_09M_18S_statut_true_Vf0641962-87a4-4e59-8372-06bac79e0fb0.json
{"createdAt":"2025-07-21T19:55:34.276Z","updatedAt":"2025-07-23T05:05:49.920Z","id":"xXR2w8yp5Hjx6Ne0","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1216,192],"id":"630bbd14-cee9-43db-a900-da1aeb662a96","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Github_Id }}","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name.toSnakeCase() }}/{{ $json.name.toSnakeCase() }}_{{ $today.format('dd_LL_yyyy') }}_{{ $now.format(\"HH'H_'mm'M_'ss'S'\")}}_statut_{{ $json.active }}_V{{ $json.versionId }}.json","fileContent":"={{ $json.toJsonString()}}","commitMessage":"=🚀 feat (backup): auto-save workflows {{ $json.name.toSnakeCase() }} • {{ $now.format('dd/MM/yyyy') }} • {{ $now.format(\"HH'H 'mm'M 'ss'S'\") }} "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-96,264],"id":"e47b77a9-c120-4e2a-91b0-b95d35f146ad","name":"Create a file","webhookId":"4280f003-36b2-4ba9-acbf-8cb17ed2cc07","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,192],"id":"a9c475df-52b6-4adb-9135-967cb887b9a6","name":"Get many workflows","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,192],"id":"f81233ec-07e1-4c86-9b57-c4271134a7ee","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,192],"id":"63fe87c9-7981-4240-9239-ce205479b454","name":"Wait","webhookId":"5d4c2e2f-23f3-464d-97af-2c3b63e26b9b"},{"parameters":{"assignments":{"assignments":[{"id":"d1612439-15f5-482d-9fb5-fdcd732625ea","name":"Github_Id","value":"yanix2445","type":"string"},{"id":"ffc79b2d-15dd-4670-9d43-1a729f173d4c","name":"Version","value":"0","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,192],"id":"63c7cb46-ecf0-43a8-8bf6-22046507d875","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-96,0],"id":"111d13aa-92e4-474f-a8a4-c4488a88cab5","name":"Limit"},{"parameters":{"sendTo":"yanis.amine.harrat@gmail.com","subject":"=🚀 Backup Workflow - name: {{ $('Wait').item.json.name }} - {{ $now.format('dd/MM/yyyy') }} - {{ $now.format(\"HH'H 'mm'M 'ss'S'\")}}","message":"=<div style=\"margin:0; padding:0; font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif; background-color:#f8fafc; color:#1a202c;\">\n  <div style=\"max-width:650px; margin:40px auto; background-color:#fff; border-radius:20px; overflow:hidden; box-shadow:0 25px 80px rgba(12, 20, 38, 0.7); border:1px solid rgba(148, 163, 184, 0.2);\">\n    \n    <!-- Header Métallique Harmonieux -->\n    <div style=\"background: linear-gradient(135deg, #1e2a3a 0%, #2d3748 25%, #3182ce 50%, #2d3748 75%, #1a2332 100%); padding:40px 30px; text-align:center; color:#ffffff; position:relative; overflow:hidden;\">\n      <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 30% 20%, rgba(148, 163, 184, 0.1) 0%, transparent 50%), radial-gradient(circle at 70% 80%, rgba(49, 130, 206, 0.1) 0%, transparent 50%);\"></div>\n      <div style=\"position:relative; z-index:2;\">\n        <h1 style=\"margin:0; font-size:32px; font-weight:800; letter-spacing:-0.5px; background: linear-gradient(135deg, #cbd5e0 0%, #94a3b8 25%, #fbbf24 50%, #94a3b8 75%, #cbd5e0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));\">\n          🚀 BACKUP MISSION ACOMPLIE! 🚀\n        </h1>\n        <div style=\"margin-top:12px; font-size:18px; font-weight:500; color:#cbd5e0;\">\n          Tous tes workflows sont en sécurité dans la base ! 🛸\n        </div>\n        <div style=\"margin-top:8px; font-size:14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.2) 0%, rgba(49, 130, 206, 0.2) 100%); display:inline-block; padding:8px 18px; border-radius:25px; backdrop-filter:blur(15px); border:1px solid rgba(148, 163, 184, 0.3); color:#e2e8f0;\">\n          {{ $now.format('dd/MM/yyyy à HH:mm') }} ⚡\n        </div>\n      </div>\n    </div>\n\n    <!-- Corps Principal -->\n    <div style=\"padding:40px 30px;\">\n      <!-- Status Hero Cohérent -->\n      <div style=\"text-align:center; margin-bottom:35px;\">\n        <div style=\"background: linear-gradient(135deg, #2d3748 0%, #4a5568 25%, #3182ce 50%, #4a5568 75%, #2d3748 100%); border-radius:18px; padding:28px; margin-bottom:20px; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.25); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.1);\">\n          <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 50% 50%, rgba(148, 163, 184, 0.05) 0%, transparent 70%);\"></div>\n          <div style=\"position:relative; z-index:2;\">\n            <div style=\"font-size:24px; color:#e2e8f0; margin-bottom:8px; font-weight:700; text-shadow:0 2px 8px rgba(0,0,0,0.3);\">\n              ✨ BACKUP LÉGENDAIRE RÉUSSI ! ✨\n            </div>\n            <div style=\"font-size:16px; color:#cbd5e0; font-weight:500;\">\n              {{ $(\"Get many workflows\").all().length }} workflows capturés dans la matrice digitale 🌐\n            </div>\n          </div>\n        </div>\n        \n        <div style=\"font-size:16px; color:#718096; font-weight:500;\">\n          Tes automatisations dorment paisiblement dans le cloud ☁️✨\n        </div>\n      </div>\n\n      <!-- Actions Cohérentes -->\n      <div style=\"text-align:center; margin-bottom:30px;\">\n        <div style=\"font-size:20px; color:#3182ce; margin-bottom:20px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.4);\">\n          🎮 ACCÈS RAPIDE À TES DONNÉES 🎮\n        </div>\n        \n        <a href=\"https://github.com/yanix2445/n8n/tree/main\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #2d3748 0%, #4a5568 50%, #2d3748 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(45, 55, 72, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.1); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.2);\">\n          <span style=\"position:relative; z-index:2;\">🐙 GITHUB </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(148, 163, 184, 0.15), transparent); transition:left 0.6s;\"></div>\n        </a>\n        \n        <a href=\"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #3182ce 0%, #4299e1 50%, #3182ce 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(49, 130, 206, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.15); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(251, 191, 36, 0.3);\">\n          <span style=\"position:relative; z-index:2;\">📊 AIRTABLE </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(251, 191, 36, 0.2), transparent); transition:left 0.6s;\"></div>\n        </a>\n      </div>\n\n      <!-- Stats Harmonieuses -->\n      <div style=\"background: linear-gradient(135deg, rgba(45, 55, 72, 0.15) 0%, rgba(74, 85, 104, 0.1) 50%, rgba(49, 130, 206, 0.05) 100%); border-radius:16px; padding:22px; text-align:center; border:1px solid rgba(251, 191, 36, 0.25); backdrop-filter:blur(10px); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.08);\">\n        <div style=\"font-size:18px; color:#3182ce; margin-bottom:8px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.3);\">\n          🏆 NIVEAU BACKUP: EXPERT 🏆\n        </div>\n        <div style=\"font-size:14px; color:#718096; font-weight:500;\">\n          Mission accomplie avec style ! Tes workflows sont blindés 🛡️\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer Cohérent -->\n    <div style=\"background: linear-gradient(135deg, #1a2332 0%, #2d3748 25%, #1e2a3a 50%, #2d3748 75%, #1a2332 100%); padding:28px; text-align:center; position:relative; border-top:1px solid rgba(251, 191, 36, 0.2);\">\n      <div style=\"position:absolute; top:0; left:0; right:0; height:2px; background:linear-gradient(90deg, transparent 0%, rgba(251, 191, 36, 0.4) 25%, rgba(251, 191, 36, 0.8) 50%, rgba(251, 191, 36, 0.4) 75%, transparent 100%);\"></div>\n      <div style=\"font-size:14px; color:#cbd5e0; margin-bottom:8px; font-weight:500;\">\n        🤖 SYSTÈME DE BACKUP AUTOMATIQUE n8n 🤖\n      </div>\n      <div style=\"font-size:12px; color:#a0aec0;\">\n        Powered by the Matrix • {{ $now.format('dd/MM/yyyy HH:mm') }} • Stay Digital ⚡\n      </div>\n      <div style=\"margin-top:15px;\">\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.15) 0%, rgba(148, 163, 184, 0.1) 100%); color:#cbd5e0; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(148, 163, 184, 0.2); backdrop-filter:blur(5px);\">GitHub</span>\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(251, 191, 36, 0.15) 0%, rgba(251, 191, 36, 0.1) 100%); color:#fbbf24; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(251, 191, 36, 0.3); backdrop-filter:blur(5px);\">Airtable</span>\n      </div>\n    </div>\n  </div>\n</div>","options":{"appendAttribution":false,"senderName":"YANIS  HARRAT"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[128,96],"id":"4e19e5ac-4871-43b1-9750-e3c73dee0cc5","name":"Send a message","webhookId":"49bdabb9-0c19-4e02-85d4-f7a650c6dc79","credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"chatId":"6932795396","text":"=🚀  *Backup Workflows n8n - {{ $now.format('dd/MM/yyyy') }}*\n\n🧩 *Scope :* Sauvegarde complète de tous les workflows\n\n🗓️ *Date & heure :*  \n`{{$now.format('dd-MM-yyyy')}} • {{$now.format(\"HH'h'mm\")}}`\n\n🆔 *Workflows concerné(e)s :* \n{{ $json.message }}\n\n[📊 Airtable](https://airtable.com/appMUIQdL0A8aWR0S)  •  [🐙 GitHub](https://github.com/yanix2445/n8n)\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,-96],"id":"da62e0fd-7728-433c-827b-997e809ca324","name":"Send a text message","webhookId":"8d7223ee-44e2-49ea-ba69-fa109bcc9f1a","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}},{"parameters":{"jsCode":"// Récupère tous les workflows\nconst items = $items('Get many workflows');\n\n// Formate chaque ligne en texte simple + gras pour la version\nconst lines = items.map(i =>\n  `- *${i.json.name}* (ID: ${i.json.id})`\n);\n\n// Renvoie un seul objet JSON contenant le message complet\nreturn [{\n  json: {\n    message: lines.join('\\n')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0],"id":"3918bc3e-cc30-412c-97ae-9db5a0b9f0b6","name":"Code1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Limit":[{"json":{"message":"- *Backup* (ID: xXR2w8yp5Hjx6Ne0)\n- *importe backup* (ID: s9bPgzZZ3ySMzKUd)"}}],"Code1":[{"json":{"message":"- *Backup* (ID: xXR2w8yp5Hjx6Ne0)\n- *importe backup* (ID: s9bPgzZZ3ySMzKUd)"}}],"Wait":[{"json":{"createdAt":"2025-07-21T19:55:34.276Z","updatedAt":"2025-07-23T04:03:59.762Z","id":"xXR2w8yp5Hjx6Ne0","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1216,288],"id":"630bbd14-cee9-43db-a900-da1aeb662a96","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Github_Id }}","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name.toSnakeCase() }}/{{ $json.name.toSnakeCase() }}_{{ $today.format('dd_LL_yyyy') }}_{{ $now.format(\"HH'H_'mm'M_'ss'S'\")}}_statut_{{ $json.active }}_V{{ $json.versionId }}.json","fileContent":"={{ $json.toJsonString()}}","commitMessage":"=🚀 feat (backup): auto-save workflows {{ $json.name.toSnakeCase() }} • {{ $now.format('dd/MM/yyyy') }} • {{ $now.format(\"HH'H 'mm'M 'ss'S'\") }} "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-96,368],"id":"e47b77a9-c120-4e2a-91b0-b95d35f146ad","name":"Create a file","webhookId":"4280f003-36b2-4ba9-acbf-8cb17ed2cc07","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,288],"id":"a9c475df-52b6-4adb-9135-967cb887b9a6","name":"Get many workflows","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,288],"id":"f81233ec-07e1-4c86-9b57-c4271134a7ee","name":"Loop Over Items"},{"parameters":{"amount":1.3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,288],"id":"63fe87c9-7981-4240-9239-ce205479b454","name":"Wait","webhookId":"5d4c2e2f-23f3-464d-97af-2c3b63e26b9b"},{"parameters":{"assignments":{"assignments":[{"id":"d1612439-15f5-482d-9fb5-fdcd732625ea","name":"Github_Id","value":"yanix2445","type":"string"},{"id":"983af6cb-6cae-4261-a1e9-0563e1a350ba","name":"Gmail","value":"yanis.amine.harrat@gmail.com","type":"string"},{"id":"4ddf9139-c43a-4be4-ab2a-19b65c223e21","name":"Repo GitHub","value":"https://github.com/yanix2445/n8n/tree/main","type":"string"},{"id":"b1789541-edb9-46a3-9924-d1967c0f9f2d","name":"DB Airtable","value":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide","type":"string"},{"id":"ffc79b2d-15dd-4670-9d43-1a729f173d4c","name":"Version","value":"0","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,288],"id":"63c7cb46-ecf0-43a8-8bf6-22046507d875","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-320,0],"id":"111d13aa-92e4-474f-a8a4-c4488a88cab5","name":"Limit"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.Gmail }}","subject":"=🚀 Backup Workflow - name: {{ $('Wait').item.json.name }} - {{ $now.format('dd/MM/yyyy') }} - {{ $now.format(\"HH'H 'mm'M 'ss'S'\")}}","message":"=<div style=\"margin:0; padding:0; font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif; background-color:#f8fafc; color:#1a202c;\">\n  <div style=\"max-width:650px; margin:40px auto; background-color:#fff; border-radius:20px; overflow:hidden; box-shadow:0 25px 80px rgba(12, 20, 38, 0.7); border:1px solid rgba(148, 163, 184, 0.2);\">\n    \n    <!-- Header Métallique Harmonieux -->\n    <div style=\"background: linear-gradient(135deg, #1e2a3a 0%, #2d3748 25%, #3182ce 50%, #2d3748 75%, #1a2332 100%); padding:40px 30px; text-align:center; color:#ffffff; position:relative; overflow:hidden;\">\n      <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 30% 20%, rgba(148, 163, 184, 0.1) 0%, transparent 50%), radial-gradient(circle at 70% 80%, rgba(49, 130, 206, 0.1) 0%, transparent 50%);\"></div>\n      <div style=\"position:relative; z-index:2;\">\n        <h1 style=\"margin:0; font-size:32px; font-weight:800; letter-spacing:-0.5px; background: linear-gradient(135deg, #cbd5e0 0%, #94a3b8 25%, #fbbf24 50%, #94a3b8 75%, #cbd5e0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));\">\n          🚀 BACKUP MISSION ACOMPLIE! 🚀\n        </h1>\n        <div style=\"margin-top:12px; font-size:18px; font-weight:500; color:#cbd5e0;\">\n          Tous tes workflows sont en sécurité dans la base ! 🛸\n        </div>\n        <div style=\"margin-top:8px; font-size:14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.2) 0%, rgba(49, 130, 206, 0.2) 100%); display:inline-block; padding:8px 18px; border-radius:25px; backdrop-filter:blur(15px); border:1px solid rgba(148, 163, 184, 0.3); color:#e2e8f0;\">\n          {{ $now.format('dd/MM/yyyy à HH:mm') }} ⚡\n        </div>\n      </div>\n    </div>\n\n    <!-- Corps Principal -->\n    <div style=\"padding:40px 30px;\">\n      <!-- Status Hero Cohérent -->\n      <div style=\"text-align:center; margin-bottom:35px;\">\n        <div style=\"background: linear-gradient(135deg, #2d3748 0%, #4a5568 25%, #3182ce 50%, #4a5568 75%, #2d3748 100%); border-radius:18px; padding:28px; margin-bottom:20px; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.25); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.1);\">\n          <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 50% 50%, rgba(148, 163, 184, 0.05) 0%, transparent 70%);\"></div>\n          <div style=\"position:relative; z-index:2;\">\n            <div style=\"font-size:24px; color:#e2e8f0; margin-bottom:8px; font-weight:700; text-shadow:0 2px 8px rgba(0,0,0,0.3);\">\n              ✨ BACKUP LÉGENDAIRE RÉUSSI ! ✨\n            </div>\n            <div style=\"font-size:16px; color:#cbd5e0; font-weight:500;\">\n              {{ $(\"Get many workflows\").all().length }} workflows capturés dans la matrice digitale 🌐\n            </div>\n          </div>\n        </div>\n        \n        <div style=\"font-size:16px; color:#718096; font-weight:500;\">\n          Tes automatisations dorment paisiblement dans le cloud ☁️✨\n        </div>\n      </div>\n\n      <!-- Actions Cohérentes -->\n      <div style=\"text-align:center; margin-bottom:30px;\">\n        <div style=\"font-size:20px; color:#3182ce; margin-bottom:20px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.4);\">\n          🎮 ACCÈS RAPIDE À TES DONNÉES 🎮\n        </div>\n        \n        <a href=\"{{ $('Edit Fields').item.json['Repo GitHub'] }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #2d3748 0%, #4a5568 50%, #2d3748 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(45, 55, 72, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.1); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.2);\">\n          <span style=\"position:relative; z-index:2;\">🐙 GITHUB </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(148, 163, 184, 0.15), transparent); transition:left 0.6s;\"></div>\n        </a>\n        \n        <a href=\"{{ $('Edit Fields').item.json['DB Airtable'] }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #3182ce 0%, #4299e1 50%, #3182ce 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(49, 130, 206, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.15); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(251, 191, 36, 0.3);\">\n          <span style=\"position:relative; z-index:2;\">📊 AIRTABLE </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(251, 191, 36, 0.2), transparent); transition:left 0.6s;\"></div>\n        </a>\n      </div>\n\n      <!-- Stats Harmonieuses -->\n      <div style=\"background: linear-gradient(135deg, rgba(45, 55, 72, 0.15) 0%, rgba(74, 85, 104, 0.1) 50%, rgba(49, 130, 206, 0.05) 100%); border-radius:16px; padding:22px; text-align:center; border:1px solid rgba(251, 191, 36, 0.25); backdrop-filter:blur(10px); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.08);\">\n        <div style=\"font-size:18px; color:#3182ce; margin-bottom:8px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.3);\">\n          🏆 NIVEAU BACKUP: EXPERT 🏆\n        </div>\n        <div style=\"font-size:14px; color:#718096; font-weight:500;\">\n          Mission accomplie avec style ! Tes workflows sont blindés 🛡️\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer Cohérent -->\n    <div style=\"background: linear-gradient(135deg, #1a2332 0%, #2d3748 25%, #1e2a3a 50%, #2d3748 75%, #1a2332 100%); padding:28px; text-align:center; position:relative; border-top:1px solid rgba(251, 191, 36, 0.2);\">\n      <div style=\"position:absolute; top:0; left:0; right:0; height:2px; background:linear-gradient(90deg, transparent 0%, rgba(251, 191, 36, 0.4) 25%, rgba(251, 191, 36, 0.8) 50%, rgba(251, 191, 36, 0.4) 75%, transparent 100%);\"></div>\n      <div style=\"font-size:14px; color:#cbd5e0; margin-bottom:8px; font-weight:500;\">\n        🤖 SYSTÈME DE BACKUP AUTOMATIQUE n8n 🤖\n      </div>\n      <div style=\"font-size:12px; color:#a0aec0;\">\n        Powered by the Matrix • {{ $now.format('dd/MM/yyyy HH:mm') }} • Stay Digital ⚡\n      </div>\n      <div style=\"margin-top:15px;\">\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.15) 0%, rgba(148, 163, 184, 0.1) 100%); color:#cbd5e0; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(148, 163, 184, 0.2); backdrop-filter:blur(5px);\">GitHub</span>\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(251, 191, 36, 0.15) 0%, rgba(251, 191, 36, 0.1) 100%); color:#fbbf24; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(251, 191, 36, 0.3); backdrop-filter:blur(5px);\">Airtable</span>\n      </div>\n    </div>\n  </div>\n</div>","options":{"appendAttribution":false,"senderName":"YANIS  HARRAT"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-96,96],"id":"4e19e5ac-4871-43b1-9750-e3c73dee0cc5","name":"Send a message","webhookId":"49bdabb9-0c19-4e02-85d4-f7a650c6dc79","credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"chatId":"6932795396","text":"=🚀  *Backup Workflow n8n - {{ $('Edit Fields').item.json.name }} - {{ $now.format('dd/MM/yyyy') }}*\n\n*Workflow* : `{{ $('Get many workflows').item.json.name }}`\n*ID* : `{{ $('Get many workflows').item.json.id }}`\n*Date* : `{{DateTime.fromISO($json.createdAt).toFormat('dd/MM/yyyy')}}`\n*Version* : `{{ $('Get many workflows').item.json.versionId }}`\n\n\n*📦 Emplacements de Stockage :*\n• [📊 Airtable — Base: n8n Workflow Backup • Table: Workflows](https://airtable.com/appMUIQdL0A8aWR0S)\n• [🐙 GitHub — Repository: yanix2445/Backup-n8n](https://github.com/yanix2445/Backup-n8n)\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-96,-96],"id":"da62e0fd-7728-433c-827b-997e809ca324","name":"Send a text message","webhookId":"8d7223ee-44e2-49ea-ba69-fa109bcc9f1a","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1841707f-2316-42a7-90c7-4f774c9a16ca","triggerCount":1,"tags":[],"Github_Id":"yanix2445","Gmail":"yanis.amine.harrat@gmail.com","Repo GitHub":"https://github.com/yanix2445/n8n/tree/main","DB Airtable":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide","Version":"0"}}],"Create a file":[{"json":{"content":{"name":"backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json","path":"backup/backup/backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json","sha":"b448c039ac39036eec64cf2eabd28f2e319895dd","size":13053,"url":"https://api.github.com/repos/yanix2445/n8n/contents/backup/backup/backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json?ref=main","html_url":"https://github.com/yanix2445/n8n/blob/main/backup/backup/backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json","git_url":"https://api.github.com/repos/yanix2445/n8n/git/blobs/b448c039ac39036eec64cf2eabd28f2e319895dd","download_url":"https://raw.githubusercontent.com/yanix2445/n8n/main/backup/backup/backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json","type":"file","_links":{"self":"https://api.github.com/repos/yanix2445/n8n/contents/backup/backup/backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json?ref=main","git":"https://api.github.com/repos/yanix2445/n8n/git/blobs/b448c039ac39036eec64cf2eabd28f2e319895dd","html":"https://github.com/yanix2445/n8n/blob/main/backup/backup/backup_23_07_2025_06H_42M_33S_statut_true_V1841707f-2316-42a7-90c7-4f774c9a16ca.json"}},"commit":{"sha":"1c154ef3145a1988f2f998e63acc7a82437a2252","node_id":"C_kwDOPOkSRdoAKDFjMTU0ZWYzMTQ1YTE5ODhmMmY5OThlNjNhY2M3YTgyNDM3YTIyNTI","url":"https://api.github.com/repos/yanix2445/n8n/git/commits/1c154ef3145a1988f2f998e63acc7a82437a2252","html_url":"https://github.com/yanix2445/n8n/commit/1c154ef3145a1988f2f998e63acc7a82437a2252","author":{"name":"Yanis Harrat","email":"110360140+yanix2445@users.noreply.github.com","date":"2025-07-23T04:42:34Z"},"committer":{"name":"Yanis Harrat","email":"110360140+yanix2445@users.noreply.github.com","date":"2025-07-23T04:42:34Z"},"tree":{"sha":"5884ee99635992c75765b687dc97fa9be848114a","url":"https://api.github.com/repos/yanix2445/n8n/git/trees/5884ee99635992c75765b687dc97fa9be848114a"},"message":"🚀 feat (backup): auto-save workflows backup • 23/07/2025 • 06H 42M 33S","parents":[{"sha":"044d0c1d7882850bde74421a72e7d287d46dcdf2","url":"https://api.github.com/repos/yanix2445/n8n/git/commits/044d0c1d7882850bde74421a72e7d287d46dcdf2","html_url":"https://github.com/yanix2445/n8n/commit/044d0c1d7882850bde74421a72e7d287d46dcdf2"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}}}}],"Edit Fields":[{"json":{"createdAt":"2025-07-21T19:55:34.276Z","updatedAt":"2025-07-23T04:03:59.762Z","id":"xXR2w8yp5Hjx6Ne0","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1216,288],"id":"630bbd14-cee9-43db-a900-da1aeb662a96","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Github_Id }}","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name.toSnakeCase() }}/{{ $json.name.toSnakeCase() }}_{{ $today.format('dd_LL_yyyy') }}_{{ $now.format(\"HH'H_'mm'M_'ss'S'\")}}_statut_{{ $json.active }}_V{{ $json.versionId }}.json","fileContent":"={{ $json.toJsonString()}}","commitMessage":"=🚀 feat (backup): auto-save workflows {{ $json.name.toSnakeCase() }} • {{ $now.format('dd/MM/yyyy') }} • {{ $now.format(\"HH'H 'mm'M 'ss'S'\") }} "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-96,368],"id":"e47b77a9-c120-4e2a-91b0-b95d35f146ad","name":"Create a file","webhookId":"4280f003-36b2-4ba9-acbf-8cb17ed2cc07","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,288],"id":"a9c475df-52b6-4adb-9135-967cb887b9a6","name":"Get many workflows","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,288],"id":"f81233ec-07e1-4c86-9b57-c4271134a7ee","name":"Loop Over Items"},{"parameters":{"amount":1.3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,288],"id":"63fe87c9-7981-4240-9239-ce205479b454","name":"Wait","webhookId":"5d4c2e2f-23f3-464d-97af-2c3b63e26b9b"},{"parameters":{"assignments":{"assignments":[{"id":"d1612439-15f5-482d-9fb5-fdcd732625ea","name":"Github_Id","value":"yanix2445","type":"string"},{"id":"983af6cb-6cae-4261-a1e9-0563e1a350ba","name":"Gmail","value":"yanis.amine.harrat@gmail.com","type":"string"},{"id":"4ddf9139-c43a-4be4-ab2a-19b65c223e21","name":"Repo GitHub","value":"https://github.com/yanix2445/n8n/tree/main","type":"string"},{"id":"b1789541-edb9-46a3-9924-d1967c0f9f2d","name":"DB Airtable","value":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide","type":"string"},{"id":"ffc79b2d-15dd-4670-9d43-1a729f173d4c","name":"Version","value":"0","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,288],"id":"63c7cb46-ecf0-43a8-8bf6-22046507d875","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-320,0],"id":"111d13aa-92e4-474f-a8a4-c4488a88cab5","name":"Limit"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.Gmail }}","subject":"=🚀 Backup Workflow - name: {{ $('Wait').item.json.name }} - {{ $now.format('dd/MM/yyyy') }} - {{ $now.format(\"HH'H 'mm'M 'ss'S'\")}}","message":"=<div style=\"margin:0; padding:0; font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif; background-color:#f8fafc; color:#1a202c;\">\n  <div style=\"max-width:650px; margin:40px auto; background-color:#fff; border-radius:20px; overflow:hidden; box-shadow:0 25px 80px rgba(12, 20, 38, 0.7); border:1px solid rgba(148, 163, 184, 0.2);\">\n    \n    <!-- Header Métallique Harmonieux -->\n    <div style=\"background: linear-gradient(135deg, #1e2a3a 0%, #2d3748 25%, #3182ce 50%, #2d3748 75%, #1a2332 100%); padding:40px 30px; text-align:center; color:#ffffff; position:relative; overflow:hidden;\">\n      <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 30% 20%, rgba(148, 163, 184, 0.1) 0%, transparent 50%), radial-gradient(circle at 70% 80%, rgba(49, 130, 206, 0.1) 0%, transparent 50%);\"></div>\n      <div style=\"position:relative; z-index:2;\">\n        <h1 style=\"margin:0; font-size:32px; font-weight:800; letter-spacing:-0.5px; background: linear-gradient(135deg, #cbd5e0 0%, #94a3b8 25%, #fbbf24 50%, #94a3b8 75%, #cbd5e0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));\">\n          🚀 BACKUP MISSION ACOMPLIE! 🚀\n        </h1>\n        <div style=\"margin-top:12px; font-size:18px; font-weight:500; color:#cbd5e0;\">\n          Tous tes workflows sont en sécurité dans la base ! 🛸\n        </div>\n        <div style=\"margin-top:8px; font-size:14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.2) 0%, rgba(49, 130, 206, 0.2) 100%); display:inline-block; padding:8px 18px; border-radius:25px; backdrop-filter:blur(15px); border:1px solid rgba(148, 163, 184, 0.3); color:#e2e8f0;\">\n          {{ $now.format('dd/MM/yyyy à HH:mm') }} ⚡\n        </div>\n      </div>\n    </div>\n\n    <!-- Corps Principal -->\n    <div style=\"padding:40px 30px;\">\n      <!-- Status Hero Cohérent -->\n      <div style=\"text-align:center; margin-bottom:35px;\">\n        <div style=\"background: linear-gradient(135deg, #2d3748 0%, #4a5568 25%, #3182ce 50%, #4a5568 75%, #2d3748 100%); border-radius:18px; padding:28px; margin-bottom:20px; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.25); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.1);\">\n          <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 50% 50%, rgba(148, 163, 184, 0.05) 0%, transparent 70%);\"></div>\n          <div style=\"position:relative; z-index:2;\">\n            <div style=\"font-size:24px; color:#e2e8f0; margin-bottom:8px; font-weight:700; text-shadow:0 2px 8px rgba(0,0,0,0.3);\">\n              ✨ BACKUP LÉGENDAIRE RÉUSSI ! ✨\n            </div>\n            <div style=\"font-size:16px; color:#cbd5e0; font-weight:500;\">\n              {{ $(\"Get many workflows\").all().length }} workflows capturés dans la matrice digitale 🌐\n            </div>\n          </div>\n        </div>\n        \n        <div style=\"font-size:16px; color:#718096; font-weight:500;\">\n          Tes automatisations dorment paisiblement dans le cloud ☁️✨\n        </div>\n      </div>\n\n      <!-- Actions Cohérentes -->\n      <div style=\"text-align:center; margin-bottom:30px;\">\n        <div style=\"font-size:20px; color:#3182ce; margin-bottom:20px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.4);\">\n          🎮 ACCÈS RAPIDE À TES DONNÉES 🎮\n        </div>\n        \n        <a href=\"{{ $('Edit Fields').item.json['Repo GitHub'] }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #2d3748 0%, #4a5568 50%, #2d3748 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(45, 55, 72, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.1); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.2);\">\n          <span style=\"position:relative; z-index:2;\">🐙 GITHUB </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(148, 163, 184, 0.15), transparent); transition:left 0.6s;\"></div>\n        </a>\n        \n        <a href=\"{{ $('Edit Fields').item.json['DB Airtable'] }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #3182ce 0%, #4299e1 50%, #3182ce 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(49, 130, 206, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.15); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(251, 191, 36, 0.3);\">\n          <span style=\"position:relative; z-index:2;\">📊 AIRTABLE </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(251, 191, 36, 0.2), transparent); transition:left 0.6s;\"></div>\n        </a>\n      </div>\n\n      <!-- Stats Harmonieuses -->\n      <div style=\"background: linear-gradient(135deg, rgba(45, 55, 72, 0.15) 0%, rgba(74, 85, 104, 0.1) 50%, rgba(49, 130, 206, 0.05) 100%); border-radius:16px; padding:22px; text-align:center; border:1px solid rgba(251, 191, 36, 0.25); backdrop-filter:blur(10px); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.08);\">\n        <div style=\"font-size:18px; color:#3182ce; margin-bottom:8px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.3);\">\n          🏆 NIVEAU BACKUP: EXPERT 🏆\n        </div>\n        <div style=\"font-size:14px; color:#718096; font-weight:500;\">\n          Mission accomplie avec style ! Tes workflows sont blindés 🛡️\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer Cohérent -->\n    <div style=\"background: linear-gradient(135deg, #1a2332 0%, #2d3748 25%, #1e2a3a 50%, #2d3748 75%, #1a2332 100%); padding:28px; text-align:center; position:relative; border-top:1px solid rgba(251, 191, 36, 0.2);\">\n      <div style=\"position:absolute; top:0; left:0; right:0; height:2px; background:linear-gradient(90deg, transparent 0%, rgba(251, 191, 36, 0.4) 25%, rgba(251, 191, 36, 0.8) 50%, rgba(251, 191, 36, 0.4) 75%, transparent 100%);\"></div>\n      <div style=\"font-size:14px; color:#cbd5e0; margin-bottom:8px; font-weight:500;\">\n        🤖 SYSTÈME DE BACKUP AUTOMATIQUE n8n 🤖\n      </div>\n      <div style=\"font-size:12px; color:#a0aec0;\">\n        Powered by the Matrix • {{ $now.format('dd/MM/yyyy HH:mm') }} • Stay Digital ⚡\n      </div>\n      <div style=\"margin-top:15px;\">\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.15) 0%, rgba(148, 163, 184, 0.1) 100%); color:#cbd5e0; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(148, 163, 184, 0.2); backdrop-filter:blur(5px);\">GitHub</span>\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(251, 191, 36, 0.15) 0%, rgba(251, 191, 36, 0.1) 100%); color:#fbbf24; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(251, 191, 36, 0.3); backdrop-filter:blur(5px);\">Airtable</span>\n      </div>\n    </div>\n  </div>\n</div>","options":{"appendAttribution":false,"senderName":"YANIS  HARRAT"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-96,96],"id":"4e19e5ac-4871-43b1-9750-e3c73dee0cc5","name":"Send a message","webhookId":"49bdabb9-0c19-4e02-85d4-f7a650c6dc79","credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"chatId":"6932795396","text":"=🚀  *Backup Workflow n8n - {{ $('Edit Fields').item.json.name }} - {{ $now.format('dd/MM/yyyy') }}*\n\n*Workflow* : `{{ $('Get many workflows').item.json.name }}`\n*ID* : `{{ $('Get many workflows').item.json.id }}`\n*Date* : `{{DateTime.fromISO($json.createdAt).toFormat('dd/MM/yyyy')}}`\n*Version* : `{{ $('Get many workflows').item.json.versionId }}`\n\n\n*📦 Emplacements de Stockage :*\n• [📊 Airtable — Base: n8n Workflow Backup • Table: Workflows](https://airtable.com/appMUIQdL0A8aWR0S)\n• [🐙 GitHub — Repository: yanix2445/Backup-n8n](https://github.com/yanix2445/Backup-n8n)\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-96,-96],"id":"da62e0fd-7728-433c-827b-997e809ca324","name":"Send a text message","webhookId":"8d7223ee-44e2-49ea-ba69-fa109bcc9f1a","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1841707f-2316-42a7-90c7-4f774c9a16ca","triggerCount":1,"tags":[],"Github_Id":"yanix2445","Gmail":"yanis.amine.harrat@gmail.com","Repo GitHub":"https://github.com/yanix2445/n8n/tree/main","DB Airtable":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide","Version":"0"}},{"json":{"createdAt":"2025-07-18T10:24:17.872Z","updatedAt":"2025-07-23T04:02:24.124Z","id":"s9bPgzZZ3ySMzKUd","name":"importe backup","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"create","workflowObject":"={{ $json.data.toJsonString()}}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[928,912],"id":"c107242d-4f6c-4d5d-a129-8fd8536f2777","name":"Create a workflow","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"yanix2445","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,912],"id":"f1e26eb1-04b7-42aa-8f9f-1f3d04b7dcb2","name":"Get a file","webhookId":"b7b739a5-358c-49e6-b3f8-e3837b8f1399","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[480,912],"id":"60ebb46c-6c04-47d6-89b6-e6a3bfcc4422","name":"Extract from File"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,912],"id":"6a8b099c-2644-485f-b70b-ff85c187be12","name":"Telegram Trigger","webhookId":"f0524004-9a20-4b43-86f2-aba05e4d11ea","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e4e0717-8576-4a0d-93de-17e4fb0f77fe","leftValue":"={{ $json.message.text }}","rightValue":"backup n8n","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,912],"id":"99d7c786-fa71-40ba-8441-9e34d4062402","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87381881-7468-4608-b913-4374aebe6543","leftValue":"={{ $('List Directory').item.json.name }}","rightValue":"={{ $now.minus({ days: 1 }).format('dd_MM_yyyy') }}","operator":{"type":"string","operation":"contains"}},{"id":"5eb20f7e-ad8b-4748-a670-612dcb9638fb","leftValue":"={{ $json.data.active }}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[704,912],"id":"eb9f8f3b-8b8f-4323-b12a-d6d6c7d33001","name":"Filter"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"yanix2445","mode":"list","cachedResultName":"yanix2445","cachedResultUrl":"https://github.com/yanix2445"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"backup"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-192,912],"id":"2ccdc738-2fa5-402e-81df-622896aae2cb","name":"List Directory","webhookId":"18229b9d-e4ec-44dd-a4f2-9994751f4c0a","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"yanix2445","mode":"list","cachedResultName":"yanix2445","cachedResultUrl":"https://github.com/yanix2445"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[32,912],"id":"eb73a812-f87b-4437-b1de-9270a75c3f2d","name":"List Files","webhookId":"18229b9d-e4ec-44dd-a4f2-9994751f4c0a","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}}],"connections":{"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"List Directory","type":"main","index":0}],[]]},"Create a workflow":{"main":[[]]},"Filter":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"List Directory":{"main":[[{"node":"List Files","type":"main","index":0}]]},"List Files":{"main":[[{"node":"Get a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e7e0658-5d44-46bb-946e-d7f4653c6c35","triggerCount":1,"tags":[],"Github_Id":"yanix2445","Gmail":"yanis.amine.harrat@gmail.com","Repo GitHub":"https://github.com/yanix2445/n8n/tree/main","DB Airtable":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide","Version":"0"}}],"Get many workflows":[{"json":{"createdAt":"2025-07-21T19:55:34.276Z","updatedAt":"2025-07-23T04:03:59.762Z","id":"xXR2w8yp5Hjx6Ne0","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1216,288],"id":"630bbd14-cee9-43db-a900-da1aeb662a96","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Github_Id }}","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name.toSnakeCase() }}/{{ $json.name.toSnakeCase() }}_{{ $today.format('dd_LL_yyyy') }}_{{ $now.format(\"HH'H_'mm'M_'ss'S'\")}}_statut_{{ $json.active }}_V{{ $json.versionId }}.json","fileContent":"={{ $json.toJsonString()}}","commitMessage":"=🚀 feat (backup): auto-save workflows {{ $json.name.toSnakeCase() }} • {{ $now.format('dd/MM/yyyy') }} • {{ $now.format(\"HH'H 'mm'M 'ss'S'\") }} "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-96,368],"id":"e47b77a9-c120-4e2a-91b0-b95d35f146ad","name":"Create a file","webhookId":"4280f003-36b2-4ba9-acbf-8cb17ed2cc07","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,288],"id":"a9c475df-52b6-4adb-9135-967cb887b9a6","name":"Get many workflows","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,288],"id":"f81233ec-07e1-4c86-9b57-c4271134a7ee","name":"Loop Over Items"},{"parameters":{"amount":1.3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,288],"id":"63fe87c9-7981-4240-9239-ce205479b454","name":"Wait","webhookId":"5d4c2e2f-23f3-464d-97af-2c3b63e26b9b"},{"parameters":{"assignments":{"assignments":[{"id":"d1612439-15f5-482d-9fb5-fdcd732625ea","name":"Github_Id","value":"yanix2445","type":"string"},{"id":"983af6cb-6cae-4261-a1e9-0563e1a350ba","name":"Gmail","value":"yanis.amine.harrat@gmail.com","type":"string"},{"id":"4ddf9139-c43a-4be4-ab2a-19b65c223e21","name":"Repo GitHub","value":"https://github.com/yanix2445/n8n/tree/main","type":"string"},{"id":"b1789541-edb9-46a3-9924-d1967c0f9f2d","name":"DB Airtable","value":"https://airtable.com/appMUIQdL0A8aWR0S/tblT7wW1fQXKxMAFn/viwEujUxWO29ErVzH?blocks=hide","type":"string"},{"id":"ffc79b2d-15dd-4670-9d43-1a729f173d4c","name":"Version","value":"0","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,288],"id":"63c7cb46-ecf0-43a8-8bf6-22046507d875","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-320,0],"id":"111d13aa-92e4-474f-a8a4-c4488a88cab5","name":"Limit"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.Gmail }}","subject":"=🚀 Backup Workflow - name: {{ $('Wait').item.json.name }} - {{ $now.format('dd/MM/yyyy') }} - {{ $now.format(\"HH'H 'mm'M 'ss'S'\")}}","message":"=<div style=\"margin:0; padding:0; font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif; background-color:#f8fafc; color:#1a202c;\">\n  <div style=\"max-width:650px; margin:40px auto; background-color:#fff; border-radius:20px; overflow:hidden; box-shadow:0 25px 80px rgba(12, 20, 38, 0.7); border:1px solid rgba(148, 163, 184, 0.2);\">\n    \n    <!-- Header Métallique Harmonieux -->\n    <div style=\"background: linear-gradient(135deg, #1e2a3a 0%, #2d3748 25%, #3182ce 50%, #2d3748 75%, #1a2332 100%); padding:40px 30px; text-align:center; color:#ffffff; position:relative; overflow:hidden;\">\n      <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 30% 20%, rgba(148, 163, 184, 0.1) 0%, transparent 50%), radial-gradient(circle at 70% 80%, rgba(49, 130, 206, 0.1) 0%, transparent 50%);\"></div>\n      <div style=\"position:relative; z-index:2;\">\n        <h1 style=\"margin:0; font-size:32px; font-weight:800; letter-spacing:-0.5px; background: linear-gradient(135deg, #cbd5e0 0%, #94a3b8 25%, #fbbf24 50%, #94a3b8 75%, #cbd5e0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));\">\n          🚀 BACKUP MISSION ACOMPLIE! 🚀\n        </h1>\n        <div style=\"margin-top:12px; font-size:18px; font-weight:500; color:#cbd5e0;\">\n          Tous tes workflows sont en sécurité dans la base ! 🛸\n        </div>\n        <div style=\"margin-top:8px; font-size:14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.2) 0%, rgba(49, 130, 206, 0.2) 100%); display:inline-block; padding:8px 18px; border-radius:25px; backdrop-filter:blur(15px); border:1px solid rgba(148, 163, 184, 0.3); color:#e2e8f0;\">\n          {{ $now.format('dd/MM/yyyy à HH:mm') }} ⚡\n        </div>\n      </div>\n    </div>\n\n    <!-- Corps Principal -->\n    <div style=\"padding:40px 30px;\">\n      <!-- Status Hero Cohérent -->\n      <div style=\"text-align:center; margin-bottom:35px;\">\n        <div style=\"background: linear-gradient(135deg, #2d3748 0%, #4a5568 25%, #3182ce 50%, #4a5568 75%, #2d3748 100%); border-radius:18px; padding:28px; margin-bottom:20px; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.25); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.1);\">\n          <div style=\"position:absolute; inset:0; background: radial-gradient(circle at 50% 50%, rgba(148, 163, 184, 0.05) 0%, transparent 70%);\"></div>\n          <div style=\"position:relative; z-index:2;\">\n            <div style=\"font-size:24px; color:#e2e8f0; margin-bottom:8px; font-weight:700; text-shadow:0 2px 8px rgba(0,0,0,0.3);\">\n              ✨ BACKUP LÉGENDAIRE RÉUSSI ! ✨\n            </div>\n            <div style=\"font-size:16px; color:#cbd5e0; font-weight:500;\">\n              {{ $(\"Get many workflows\").all().length }} workflows capturés dans la matrice digitale 🌐\n            </div>\n          </div>\n        </div>\n        \n        <div style=\"font-size:16px; color:#718096; font-weight:500;\">\n          Tes automatisations dorment paisiblement dans le cloud ☁️✨\n        </div>\n      </div>\n\n      <!-- Actions Cohérentes -->\n      <div style=\"text-align:center; margin-bottom:30px;\">\n        <div style=\"font-size:20px; color:#3182ce; margin-bottom:20px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.4);\">\n          🎮 ACCÈS RAPIDE À TES DONNÉES 🎮\n        </div>\n        \n        <a href=\"{{ $('Edit Fields').item.json['Repo GitHub'] }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #2d3748 0%, #4a5568 50%, #2d3748 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(45, 55, 72, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.1); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(148, 163, 184, 0.2);\">\n          <span style=\"position:relative; z-index:2;\">🐙 GITHUB </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(148, 163, 184, 0.15), transparent); transition:left 0.6s;\"></div>\n        </a>\n        \n        <a href=\"{{ $('Edit Fields').item.json['DB Airtable'] }}\"\n           style=\"display:inline-block; margin:12px 8px; padding:18px 32px; background: linear-gradient(135deg, #3182ce 0%, #4299e1 50%, #3182ce 100%); color:#e2e8f0; font-weight:600; text-decoration:none; border-radius:14px; font-size:16px; box-shadow:0 10px 30px rgba(49, 130, 206, 0.4), inset 0 1px 0 rgba(148, 163, 184, 0.15); transition:all 0.3s ease; position:relative; overflow:hidden; border:1px solid rgba(251, 191, 36, 0.3);\">\n          <span style=\"position:relative; z-index:2;\">📊 AIRTABLE </span>\n          <div style=\"position:absolute; top:0; left:-100%; width:100%; height:100%; background:linear-gradient(90deg, transparent, rgba(251, 191, 36, 0.2), transparent); transition:left 0.6s;\"></div>\n        </a>\n      </div>\n\n      <!-- Stats Harmonieuses -->\n      <div style=\"background: linear-gradient(135deg, rgba(45, 55, 72, 0.15) 0%, rgba(74, 85, 104, 0.1) 50%, rgba(49, 130, 206, 0.05) 100%); border-radius:16px; padding:22px; text-align:center; border:1px solid rgba(251, 191, 36, 0.25); backdrop-filter:blur(10px); box-shadow:inset 0 1px 0 rgba(148, 163, 184, 0.08);\">\n        <div style=\"font-size:18px; color:#3182ce; margin-bottom:8px; font-weight:700; text-shadow:0 2px 6px rgba(49, 130, 206, 0.3);\">\n          🏆 NIVEAU BACKUP: EXPERT 🏆\n        </div>\n        <div style=\"font-size:14px; color:#718096; font-weight:500;\">\n          Mission accomplie avec style ! Tes workflows sont blindés 🛡️\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer Cohérent -->\n    <div style=\"background: linear-gradient(135deg, #1a2332 0%, #2d3748 25%, #1e2a3a 50%, #2d3748 75%, #1a2332 100%); padding:28px; text-align:center; position:relative; border-top:1px solid rgba(251, 191, 36, 0.2);\">\n      <div style=\"position:absolute; top:0; left:0; right:0; height:2px; background:linear-gradient(90deg, transparent 0%, rgba(251, 191, 36, 0.4) 25%, rgba(251, 191, 36, 0.8) 50%, rgba(251, 191, 36, 0.4) 75%, transparent 100%);\"></div>\n      <div style=\"font-size:14px; color:#cbd5e0; margin-bottom:8px; font-weight:500;\">\n        🤖 SYSTÈME DE BACKUP AUTOMATIQUE n8n 🤖\n      </div>\n      <div style=\"font-size:12px; color:#a0aec0;\">\n        Powered by the Matrix • {{ $now.format('dd/MM/yyyy HH:mm') }} • Stay Digital ⚡\n      </div>\n      <div style=\"margin-top:15px;\">\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(148, 163, 184, 0.15) 0%, rgba(148, 163, 184, 0.1) 100%); color:#cbd5e0; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(148, 163, 184, 0.2); backdrop-filter:blur(5px);\">GitHub</span>\n        <span style=\"display:inline-block; padding:6px 14px; background: linear-gradient(135deg, rgba(251, 191, 36, 0.15) 0%, rgba(251, 191, 36, 0.1) 100%); color:#fbbf24; border-radius:22px; font-size:11px; margin:0 6px; border:1px solid rgba(251, 191, 36, 0.3); backdrop-filter:blur(5px);\">Airtable</span>\n      </div>\n    </div>\n  </div>\n</div>","options":{"appendAttribution":false,"senderName":"YANIS  HARRAT"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-96,96],"id":"4e19e5ac-4871-43b1-9750-e3c73dee0cc5","name":"Send a message","webhookId":"49bdabb9-0c19-4e02-85d4-f7a650c6dc79","credentials":{"gmailOAuth2":{"id":"H5K2T5hjBzVDWv46","name":"Gmail account"}}},{"parameters":{"chatId":"6932795396","text":"=🚀  *Backup Workflow n8n - {{ $('Edit Fields').item.json.name }} - {{ $now.format('dd/MM/yyyy') }}*\n\n*Workflow* : `{{ $('Get many workflows').item.json.name }}`\n*ID* : `{{ $('Get many workflows').item.json.id }}`\n*Date* : `{{DateTime.fromISO($json.createdAt).toFormat('dd/MM/yyyy')}}`\n*Version* : `{{ $('Get many workflows').item.json.versionId }}`\n\n\n*📦 Emplacements de Stockage :*\n• [📊 Airtable — Base: n8n Workflow Backup • Table: Workflows](https://airtable.com/appMUIQdL0A8aWR0S)\n• [🐙 GitHub — Repository: yanix2445/Backup-n8n](https://github.com/yanix2445/Backup-n8n)\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-96,-96],"id":"da62e0fd-7728-433c-827b-997e809ca324","name":"Send a text message","webhookId":"8d7223ee-44e2-49ea-ba69-fa109bcc9f1a","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1841707f-2316-42a7-90c7-4f774c9a16ca","triggerCount":1,"tags":[]}},{"json":{"createdAt":"2025-07-18T10:24:17.872Z","updatedAt":"2025-07-23T04:02:24.124Z","id":"s9bPgzZZ3ySMzKUd","name":"importe backup","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"create","workflowObject":"={{ $json.data.toJsonString()}}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[928,912],"id":"c107242d-4f6c-4d5d-a129-8fd8536f2777","name":"Create a workflow","credentials":{"n8nApi":{"id":"b15XlgVoYsImy6AI","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"yanix2445","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,912],"id":"f1e26eb1-04b7-42aa-8f9f-1f3d04b7dcb2","name":"Get a file","webhookId":"b7b739a5-358c-49e6-b3f8-e3837b8f1399","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[480,912],"id":"60ebb46c-6c04-47d6-89b6-e6a3bfcc4422","name":"Extract from File"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,912],"id":"6a8b099c-2644-485f-b70b-ff85c187be12","name":"Telegram Trigger","webhookId":"f0524004-9a20-4b43-86f2-aba05e4d11ea","credentials":{"telegramApi":{"id":"sElWGAJzGvIrj5Ky","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e4e0717-8576-4a0d-93de-17e4fb0f77fe","leftValue":"={{ $json.message.text }}","rightValue":"backup n8n","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,912],"id":"99d7c786-fa71-40ba-8441-9e34d4062402","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87381881-7468-4608-b913-4374aebe6543","leftValue":"={{ $('List Directory').item.json.name }}","rightValue":"={{ $now.minus({ days: 1 }).format('dd_MM_yyyy') }}","operator":{"type":"string","operation":"contains"}},{"id":"5eb20f7e-ad8b-4748-a670-612dcb9638fb","leftValue":"={{ $json.data.active }}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[704,912],"id":"eb9f8f3b-8b8f-4323-b12a-d6d6c7d33001","name":"Filter"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"yanix2445","mode":"list","cachedResultName":"yanix2445","cachedResultUrl":"https://github.com/yanix2445"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"backup"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-192,912],"id":"2ccdc738-2fa5-402e-81df-622896aae2cb","name":"List Directory","webhookId":"18229b9d-e4ec-44dd-a4f2-9994751f4c0a","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"yanix2445","mode":"list","cachedResultName":"yanix2445","cachedResultUrl":"https://github.com/yanix2445"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/yanix2445/n8n"},"filePath":"=backup/{{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[32,912],"id":"eb73a812-f87b-4437-b1de-9270a75c3f2d","name":"List Files","webhookId":"18229b9d-e4ec-44dd-a4f2-9994751f4c0a","credentials":{"githubApi":{"id":"V0hiXMi3qYx9h5Gd","name":"GitHub account"}}}],"connections":{"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"List Directory","type":"main","index":0}],[]]},"Create a workflow":{"main":[[]]},"Filter":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"List Directory":{"main":[[{"node":"List Files","type":"main","index":0}]]},"List Files":{"main":[[{"node":"Get a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e7e0658-5d44-46bb-946e-d7f4653c6c35","triggerCount":1,"tags":[]}}]},"versionId":"f0641962-87a4-4e59-8372-06bac79e0fb0","triggerCount":1,"tags":[]}